<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="akka.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="actorbintree.BinaryTreeSet"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="actorbintree"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dakka.loglevel=DEBUG -Dakka.actor.debug.receive=on"/>
</launchConfiguration>
